/* Style for the wrapper to hold the sidebar and content */
.dashboard-wrapper {
    display: flex;
}

/* Sidebar styles */
.dashboard-sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
}

.dashboard-sidebar-item {
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-sidebar-item:hover {
    background-color: #575757;
}

/* Styles for the dashboard content */
.dashboard-content {
    margin-left: 220px; /* Adjust space for sidebar */
    padding: 20px;
    width: 100%;
    background-color: #f4f4f4;
}

/* Specific styles for h2 in Dashboard */
.dashboard-message {
    color: #333;
}

/* Specific styles for table headers and content in Dashboard */
.dashboard-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.dashboard-table, .dashboard-table th, .dashboard-table td {
    border: 1px solid #ddd;
    text-align: left;
}

.dashboard-table th, .dashboard-table td {
    padding: 8px 12px;
}

.dashboard-table th {
    background-color: #333;
    color: white;
}

.dashboard-table td {
    background-color: #f9f9f9;
}

/* Specific styles for table headings in Dashboard */
.dashboard-table-heading {
    font-size: 1.2em;
    color: #333;
    margin-top: 30px;
}
